p {
  font-family: Lato;
}

.text {
  background: yellow;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 500px;
  font-size: 50px;

  display: -webkit-box;

  -webkit-box-orient: vertical;
}
