<p [line-truncation]="2">Welcome to {{ title }}!</p>

<p [line-truncation]="2" [options]="{ ellipsis: '@' }">
  Welcome to {{ title }}!
</p>

<p [line-truncation]="3" [options]="{ ellipsis: '😁' }">
  Welcome to {{ title }}!
</p>

<div style="text-align:center; border: 1px solid">
  <p
    [line-truncation]="3"
    [innerHTML]="title"
    (hasTruncated)="handler($event)"
    [disabled]="disabled"
  ></p>
  <button (click)="setDisable()">Disabled status: {{ disabled }}</button>
</div>

<div *ngIf="sVar" class="main" [@anim]="eState" (@anim.done)="animEnd($event)">
  <p
    [class]="'text'"
    [style.lineHeight]="lh"
    [style.fontSize]="fs"
    [line-truncation]="numberOfLines"
    (hasTruncated)="handler($event)"
    [watchChanges]="true"
    [innerHTML]="text"
  ></p>
</div>
